<!-- wp:template-part {"slug":"nav","theme":"finalproject"} /-->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="wp-block-heading has-text-align-center">Norse Mythology Book Profiles</h3>
<!-- /wp:heading -->

<!-- wp:post-content /-->

<!-- wp:buttons {"layout":{"type":"flex","verticalAlignment":"top","justifyContent":"left"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="http://group-project.local/book-list/">Back to Books</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->